{% load static %}

<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Home{% endblock %} | Coffee</title>
    {% include 'components/link.html' %}
</head>

<body class="presentation-page">

    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                <nav
                    class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-2 py-2 start-0 end-0 mx-3">
                    <div class="container-fluid px-0">
                        <a class="navbar-brand font-weight-bolder ms-sm-3"
                            href="{% url 'blog:home' %}"
                            rel="tooltip" data-placement="bottom">
                            <i class="bi bi-cup-hot-fill"></i> Coffee
                        </a>
                        
                        {% if request.user.is_authenticated %}

                        {% if request.user.avatar %}
                        <a class="avatar avatar-sm ms-auto d-lg-none d-block" id="profileDropdown" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar-img rounded-2" src="{{ request.user.avatar.url }}" alt="avatar">
                        </a>
                        {% else %}
                        <a class="avatar avatar-sm ms-auto d-lg-none d-block" id="profileDropdown" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar-img rounded-2" src="/media/default.png" alt="avatar">
                        </a>
                        {% endif %}

                        <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow" aria-labelledby="profileDropdown">
                            
                            <li class="px-3">
                                <div class="d-flex align-items-center">
                                    
                                    {% if request.user.avatar %}
                                    <div class="avatar me-3">
                                        <img class="avatar-img rounded-circle shadow" src="{{ request.user.avatar.url }}" alt="avatar">
                                    </div>
                                    {% else %}
                                    <div class="avatar me-3">
                                        <img class="avatar-img rounded-circle shadow" src="/media/default.png" alt="avatar">
                                    </div>
                                    {% endif %}
                                    <div>
                                        <a class="h6 mt-2 mt-sm-0" href="{% url 'blog:account' request.user.id %}">
                                            {% if request.user.first_name and request.user.last_name %}
                                            {{request.user.first_name}} {{request.user.last_name}}
                                            {% else %}
                                            {{request.user.username}}
                                            {% endif %}
                                        </a>
                                        <p class="small m-0">example@gmail.com</p>
                                    </div>
                                </div>
                            </li>

                            <li> <hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-bookmark-check fa-fw me-2"></i>My Bookings</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-heart fa-fw me-2"></i>My Wishlist</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Settings</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Help Center</a></li>
                            <li><a class="dropdown-item bg-danger-soft-hover" href="{% url 'logout' %}"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
                        </ul>

                        {% else %}

                        <a href="{% url 'blog:login' %}" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-none d-block">Login</a>

                        {% endif %}

                        <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon mt-2">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                            <ul class="navbar-nav navbar-nav-hover mx-auto">
                                <li class="nav-item"> <a class="nav-link" href="{% url 'blog:home' %}"><i class="bi bi-house-door-fill me-1"></i>Home</a></li>
                                <li class="nav-item"> <a class="nav-link" href="{% url 'blog:blog' %}"><i class="bi bi-grid-1x2-fill me-1"></i>Blogs</a></li>
                                <li class="nav-item"> <a class="nav-link" href=""><i class="bi bi-cart-fill me-1"></i>Store</a> </li>
                                <li class="nav-item"> <a class="nav-link" href=""><i class="bi bi-bookmark-fill me-1"></i>Saved</a></li>
                            </ul>
                            {% if request.user.is_authenticated %}

                            <ul class="navbar-nav d-lg-block d-none">
                                <li class="nav-item dropdown dropdown-hover mx-2">

                                    {% if request.user.avatar %}
                                    <a class="avatar avatar-sm p-0" id="profileDropdown" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img class="avatar-img rounded-2" src="{{ request.user.avatar.url }}" alt="avatar">
                                    </a>
                                    {% else %}
                                    <div class="avatar me-3">
                                        <img class="avatar-img rounded-circle shadow" src="/media/default.png" alt="avatar">
                                    </div>
                                    {% endif %}

                                    <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                                        
                                        <li class="px-3 mb-3">
                                            <div class="d-flex align-items-center">
                                                
                                                {% if request.user.avatar %}
                                                <a class="avatar avatar-sm p-0" id="profileDropdown" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <img class="avatar-img rounded-2" src="{{ request.user.avatar.url }}" alt="avatar">
                                                </a>
                                                {% else %}
                                                <div class="avatar me-3">
                                                    <img class="avatar-img rounded-circle shadow" src="/media/default.png" alt="avatar">
                                                </div>
                                                {% endif %}
                                                <div>
                                                    <a class="h6 mt-2 mt-sm-0" href="{% url 'blog:account' request.user.id %}">
                                                        {% if request.user.first_name and request.user.last_name %}
                                                        {{request.user.first_name}} {{request.user.last_name}}
                                                        {% else %}
                                                        {{request.user.username}}
                                                        {% endif %}
                                                    </a>
                                                    <p class="small m-0">example@gmail.com</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li> <hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-bookmark-check fa-fw me-2"></i>My Bookings</a></li>
                                        <li><a class="dropdown-item" href="{% url 'blog:createPost' %}"><i class="bi bi-plus fa-fw me-2"></i>Add Post</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Settings</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Help Center</a></li>
                                        <li><a class="dropdown-item bg-danger-soft-hover" href="{% url 'logout' %}"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
                                    </ul>
                                </li>
                            </ul>

                            {% else %}

                            <a href="{% url 'blog:login' %}" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-block d-none">Login</a>

                            {% endif %}
                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    {% include 'components/footer.html' %}

    {% include 'components/script.html' %}
</body>

</html>