{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<main>
    <section class="my-5 py-5">
        <div class="container mt-sm-5 mt-3">
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <div class="row flex-row-reverse">
                        <div class="col-lg-7 justify-content-center d-flex flex-column">
                            <div class="card rounded-3">
                                <div class="blur-shadow-image">
                                    <img src="{{blog.image.url}}"
                                        alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
                            <h6 class="category text-info mt-3">House</h6>
                            <h3>
                                {{blog.title|title}}
                            </h3>
                            <p>
                                {{blog.description}}
                            </p>
                            <p class="author">
                                by <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info">
                                    @{{blog.author}}</span></a>, {{blog.created|timesince}} ago
                            </p>
                        </div>
                    </div>
                    <center>
                        <div class="col-xl-4 col-xxl-5 mt-5">
                            <div class="card rounded-start-lg-0 border-start-0 h-100">
                                <div class="card-header border-0 pb-0">
                                    <h5 class="mb-4"> {{comments_count}} Comments</h5>
                                </div>
                                <div class="card-body pt-0 h-400px">
                                    <!-- Comment wrap START -->
                                    <ul class="comment-wrap list-unstyled custom-scrollbar h-100">
                                        <!-- Comment item START -->
                                        <li class="comment-item">
                                            {% for comment in comments %}
                                            <div class="d-flex">
                                                <!-- Avatar -->
                                                <div class="avatar avatar-xs">
                                                    <a href="#"> <img class="avatar-img rounded-circle"
                                                            src="/static/05(2).jpg" alt=""> </a>
                                                </div>
                                                <div class="ms-2">
                                                    <!-- Comment by -->
                                                    <div class="bg-light rounded-start-top-0 p-3 rounded">
                                                        <div class="d-flex justify-content-between">
                                                            <h6 class="mb-1 me-3"> <a href=""> @{{comment.user}} </a></h6>
                                                            <small> {{comment.created|timesince}}</small>
                                                        </div>
                                                        <p class="small mb-0">{{comment.body}}</p>
                                                        <span><a href="{% url 'blog:delete_comment' blog.id comment.id %}" class="btn btn-danger mt-3">Delete</a></span>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                    <!-- Comment wrap END -->
                                </div>
                                {% if request.user.is_authenticated %}
                                <div class="card-footer border-0 pt-0">
                                    <!-- Add comment -->
                                    <div class="d-flex">
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xs me-2">
                                            <a href="#!"> <img class="avatar-img rounded-circle" src="/static/04.jpg"
                                                    alt=""> </a>
                                        </div>
                                        <!-- Comment box  -->
                                        <form method="post" action="" class="nav nav-item w-100 position-relative">
                                            {% csrf_token %}
                                            <textarea type="text" name="body" data-autoresize class="form-control pe-5 bg-light"
                                                rows="1" placeholder="Add a comment..."></textarea>
                                            <button
                                                class="nav-link bg-transparent px-3 position-absolute top-50 end-0 translate-middle-y border-0"
                                                type="submit">
                                                <i class="bi bi-send-fill"> </i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}