{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<main>
    <section class="my-5 py-5">
        <div class="container mt-sm-5 mt-3">
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <div class="row flex-row-reverse">
                        <div class="col-lg-7 justify-content-center d-flex flex-column">
                            <div class="card rounded-3">
                                <div class="blur-shadow-image">
                                    <img src="{{blog.image.url}}"
                                        alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
                            <h4 class="category mt-3">
                                {% if request.user in blog.participants.all %}
                                    <a class="category text-danger" href="{% url 'blog:unfollow_blog' blog.id %}">
                                        + Unfollow ({{blog.participants.all.count}})
                                    </a>
                                {% else %}
                                    <a class="category text-danger" href="{% url 'blog:follow_blog' blog.id %}">
                                        + Follow ({{blog.participants.all.count}})
                                    </a>
                                {% endif %}
                            </h6>
                            <h3>
                                {{blog.title|title}}
                            </h3>
                            <p>
                                {{blog.description}}
                            </p>
                            <p class="author">
                                by <a href="{% url 'blog:user' blog.author.id %}" class="ms-1"><span class="font-weight-bold text-info">
                                    @{{blog.author}}</span></a>, {{blog.created|timesince}} ago
                            </p>
                            {% if request.user in blog.like.all %}
                            <a href="{% url 'blog:deslike_blog' blog.id %}">
                                <i class="fa-{% if request.user in blog.like.all %}solid{% else %}regular{% endif %} fa-heart fa-2xl"></i>
                            </a>
                            {% else %}
                            <a href="{% url 'blog:like_blog' blog.id %}">
                                <i class="fa-{% if request.user in blog.like.all %}solid{% else %}regular{% endif %} fa-heart fa-2xl"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <center>
                        <!--  ---------------  new comment  ------------------- -->
                        <div class="card mt-5">
                            <div class="card-header pb-0 border-0">
                                <h4>{{comments_count}} comments</h4>
                            </div>
                            <div class="card-body">
                                {% for comment in comments %}
                                {% if comment.is_parent %}
                                <div class="my-4 d-flex">
                                    {% if comment.user.avatar %}
                                    <div class="avatar avatar-xs me-3">
                                        <a href="{% url 'blog:user_profile' comment.user.id %}">
                                            <img class="avatar-img rounded-circle border border-white"
                                                src="{{comment.user.avatar.url}}" alt="">
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="avatar avatar-xs rounded-circle bg-primary me-3">
                                        <h6 class="text-white position-absolute top-50 start-50 translate-middle fw-bold">
                                            <a class="text-white" href="{% url 'blog:user_profile' comment.user.id %}">
                                                {% if comment.user.first_name %}
                                                {{comment.user.first_name|first}}{{comment.user.last_name|first}}
                                                {% else %}
                                                {{comment.user.username|first|upper}}
                                                {% endif %}
                                            </a>
                                        </h6>
                                    </div>
                                    {% endif %}
                                    <div>
                                        <div class="mb-2 d-sm-flex">
                                            <h6 class="m-0 me-2">
                                                <a href="{% url 'blog:user_profile' comment.user.id %}">
                                                    @{{comment.user}}
                                                </a>
                                            </h6>
                                            <span class="me-3 small">{{comment.created|timesince}} </span>
                                        </div>
                                        <p>{{comment.body}}</p>
                                        <p>
                                            <a class="bg-light rounded-2 p-1 text-body" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseExample{{comment.id}}" aria-expanded="false"
                                                aria-controls="collapseExample">
                                                reply
                                            </a>
                                        </p>
                                        <div class="collapse" id="collapseExample{{comment.id}}">
                                            {% if request.user.is_authenticated %}
                                            <form action="" method="POST" id="main_form" class="form-control">
                                                {% csrf_token %}
                                                <div>
                                                    <label for="comment">Reply here</label>
                                                    <input type="text" name="body"> 
                                                    <input type="hidden" value="{{ comment.pk }}" name="parent">
                                                    <input type="submit" value="reply">
                                                </div>
                                            </form>
                                            {% else %}
                                            <p>Please login than add reply. <a href="{% url 'blog:login' %}">Login page</a></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
        
                                {% for replies in comment.getReplies %}
                                <div class="my-4 d-flex ps-3 ps-md-5">
                                    {% if replies.user.avatar %}
                                    <div class="avatar avatar-xs me-3">
                                        <a href="{% url 'blog:user_profile' replies.user.id %}">
                                            <img class="avatar-img rounded-circle border border-white"
                                                src="{{replies.user.avatar.url}}" alt="">
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="avatar avatar-xs rounded-circle bg-primary me-3">
                                        <h6 class="text-white position-absolute top-50 start-50 translate-middle fw-bold">
                                            <a class="text-white" href="{% url 'blog:user_profile' replies.user.id %}">
                                                {% if replies.user.first_name %}
                                                {{replies.user.first_name|first}}{{replies.user.last_name|first}}
                                                {% else %}
                                                {{replies.user.username|first|upper}}
                                                {% endif %}
                                            </a>
                                        </h6>
                                    </div>
                                    {% endif %}
                                    <div>
                                        <div class="mb-2 d-sm-flex">
                                            <h6 class="m-0 me-2">
                                                <a href="{% url 'blog:user_profile' replies.user.id %}">
                                                    @{{replies.user}}
                                                </a>
                                            </h6>
                                            <span class="me-3 small">{{replies.created|timesince}} </span>
                                        </div>
                                        <p>{{replies.body}} </p>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endfor %}
        
        
        
        
                                <!-- Comments END -->
                                {% if request.user.is_authenticated %}
                                <hr class="my-4">
                                <!-- Reply START -->
                                <div>
                                    <h4>Add comment</h4>
                                    <form method="post" action="" class="row g-3 mt-2 form-control">
                                        {% csrf_token %}
                                        <div class="col-12">
                                            <label class="form-label">Your Comment *</label>
                                            {{ comment_form.body|as_crispy_field }}
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary">Post comment</button>
                                        </div>
                                    </form>
                                </div>
                                {% else %}
                                <p>Please login than add comment. <a href="{% url 'blog:login' %}">Login page</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}