{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<main>
    <section class="my-5 py-5">
        <div class="container-fluid my-3 py-3">
            <div class="row mb-5">
                <div class="col-lg-12 mt-lg-0 mt-4">

                    <div class="card card-body" id="profile">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-sm-auto col-4">
                                <div class="avatar avatar-xl position-relative">
                                    <img src="{{user.avatar.url}}" alt="bruce" class="w-100 border-radius-lg shadow-sm">
                                </div>
                            </div>
                            <div class="col-sm-auto col-8 my-auto">
                                <div class="h-100">
                                    <h5 class="mb-1 font-weight-bolder">
                                        {{user.first_name}} {{user.last_name}}
                                    </h5>
                                    <p class="mb-0 font-weight-bold text-sm">
                                        {{user.email}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-auto ms-sm-auto mt-sm-0 mt-3 d-flex">
                                <label class="form-check-label mb-0">
                                    <small id="profileVisibility">
                                        Switch to invisible
                                    </small>
                                </label>
                                <div class="form-check form-switch ms-2">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault23"
                                        checked onchange="visible()">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-4" id="sessions">
                        <div class="card-header pb-3">
                            <h5>Followers</h5>
                            <p class="text-sm">This is a list of devices that have logged into your account. Remove
                                those that you do not recognize.</p>
                        </div>

                        {% if user.follower.all %}
                        {% for follower in user.follower.all %}
                        <div class="card-body pt-0">
                            <div class="d-flex align-items-center">
                                {% if follower.avatar %}
                                <div class="avatar-img avatar rounded-circle bg-dark me-2">
                                    <img src="{{follower.avatar.url}}" alt="bruce"
                                        class="w-100 border-radius-lg shadow-sm">
                                </div>
                                {% else %}
                                <div class="avatar-img avatar rounded-circle bg-dark me-2">
                                    <h6 class="text-white position-absolute top-50 start-50 translate-middle fw-bold">
                                        {% if follower.first_name %}
                                        {{follower.first_name|first}}{{follower.last_name|first}}
                                        {% else %}
                                        {{follower.username|first|upper}}
                                        {% endif %}
                                    </h6>
                                </div>
                                {% endif %}
                                <div class="my-auto ms-3">
                                    <div class="h-100">
                                        <a href="{% url 'blog:user' follower.id %}">
                                            <p class="text-sm mb-1">
                                                {% if follower.first_name %}
                                                {{follower.first_name|title}}{{follower.last_name|title}}
                                                {% else %}
                                                {{follower.username|upper}}
                                                {% endif %}
                                            </p>
                                            <p class="mb-0 text-xs">
                                                {{follower.email}}
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <span class="badge badge-success badge-sm my-auto ms-auto me-3">Active</span>
                                <p class="text-secondary text-sm my-auto me-3">EU</p>
                                <a href="javascript:;" class="text-primary text-sm icon-move-right my-auto">See more
                                    <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="card-body pt-0">
                            <p>empty</p>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
    </section>
</main>

{% endblock %}