<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Home page news">
    <meta name="author" content="Abdulaziz Komilov">
    <title>
      {% block title %}{% endblock %}
    </title>
    {% include 'links.html' %}
  </head>
  <body>
    
    {% include 'navbar.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'scripts.html' %}
  </body>
</html>
